@media (max-width :1280px) {
	.container{
		max-width: 1200px;
	}
	.list-book li{
		width: 20%!important;
	}
	.book-description .list-book li{
		width:16.66%!important;
	}
	.book-description .list-book li:nth-child(7),
	.book-description .list-book li:nth-child(8){
		display: none;
	}
}
@media (max-width :1024px) {
	body{
		padding:0px!important;
	}
	header{
		position: relative!important;
		height: auto!important;
	}
	.container{
		width:100%;
	}
	header .container{
		padding:0px!important;
	}
	header .pull-left{
		display: block!important;
		float: none!important
	}
	header .pull-right{
		display: block!important;
		float: none!important;
	}
	.loginbox{
		position: absolute;top:0px;right:0px;
	}
	nav{
		background:#212121;
		border-top:1px solid rgba(0,0,0,0.5);
		box-shadow:inset 0px 1px 0px rgba(255,255,255,0.1);
		float: none!important;
		height:50px;
		width: 100%;
		padding:10px 5px;
	}
}
@media (max-width :768px) {
	header{
		min-height: 50px!important;
	}
	#logo img{
		height:30px;
		margin:10px 0;
	}
	nav{
		height: auto!important;
		display: none;
	}
	nav	ul li{
		float: none;
	}
	nav ul li ul{
		position: relative;
		top:0px;margin:0px;padding:0px 0 0 15px;
	}
}

/*
style album photo
*/
ul#sortable{
    list-style: none;
}
ul#sortable li{    	
    float: left;
    margin-right: 10px;
}

ul#sortable li img{    	
    border: solid 1px #999;
    padding: 2px;        
}
ul#sortable li a{    
    top: 0;
}